<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/font-awesome-5.10.2/css/all.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
    <title>Login</title>
    <style>
        .formContent {
            background: #fff;
            position: relative;
            text-align: center;
            width: 90%;
            max-width: 450px;

        }
        .wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

<div class="container  align-items-center wrapper " >
    <div class="formContent">
        <div class="card" >
            <div class="card-header text-info" style="text-align: center;" >
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form id ="formData"  method="POST" action="/auth" >
                    <div class="form-group">
                        <label class="text-info" style="color: #1c7430">Username:</label>
                        <input type="text" class="form-control" name="username" value="{{user}}" required>
                    </div>
                    <div class="form-group">
                        <label class="text-info" >Password:</label>
                        <input type="password" class="form-control" value="{{password}}" name="password" required>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <div class="col-sm-offset-2 col-sm-10">-->
<!--                            <div class="checkbox">-->
<!--                                <label class="text-info"><input type="checkbox" > Remember me</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Submit</button>
                    <div class="border-top card-body text-center">Don't have an account? <a href="/register">Register</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>