<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/font-awesome-5.10.2/css/all.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Income App</title>

</head>

<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <div class="w-25">
            <a class="navbar-brand js-scroll-trigger" href="/home">
                <img class="avatar" src="/img/home_icon2.png" alt="Home">
            </a>
        </div>
        <div class="dropdown">
            <a class="nav-link rounded "  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar" src="/img/{{session.username}}Avatar.png" alt="Avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">My Proile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
<!--        <div>-->
<!--            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-style: italic;">-->

<!--                &lt;!&ndash;                        &ndash;&gt;-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">-->
<!--                <a class="dropdown-item" href="#">My profile</a>-->
<!--                <a class="dropdown-item" href="/logout">Logout</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</nav>

        {{{body}}}
<!--    <footer class="copyright text-center text-white fixed-bottom">-->
<!--        <div class="container">-->
<!--    </footer>-->

<!--<section class="copyright py-4 text-center text-white">-->
<!--    <div class="container">-->
<!--        <small>Copyright © Your Website 2019</small>-->
<!--    </div>-->
<!--</section>-->

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close infoModalHandler" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id ="infoArea"><i class="fas fa-info-circle"></i> {{testText}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger infoModalHandler" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addExtraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <strong id="exampleModalLabel" class="text-info">Add extra</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-info" for="formGroupExampleInput">Details</label>
                        <input id="addExtraOutcomeDetails" type="text" class="form-control"  placeholder="Outcome details" required>
                    </div>
                    <div class="form-group">
                        <label class="text-info" for="formGroupExampleInput">Value</label>
                        <input id="addExtraOutcomeValue" type="number" class="form-control"  placeholder="Outcome value" required>
                    </div>
                </div>
                <div class="modal-footer">
                <div class="container">
                    <button id = "addExtra" type="button" class="btn btn-block btn-primary" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/addExtraController.js"></script>
    <script>
     let show ="{{errorModal}}" ;
        if(show) {
            jQuery.noConflict();
            $('#infoModal').modal(show)
        }
    </script>
</body>
</html>