<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/font-awesome-5.10.2/css/all.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Register</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>

    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Sign up</h4>
                    </header>
                    <article class="card-body">
                        <form method="POST" action="/register">
                            <div class="form-row was-validated">
                                <div class="col form-group">
                                    <label>First name </label>
                                    <input type="text" name="first_name" class="form-control" placeholder=""
                                        required="true">
                                </div> <!-- form-group end.// -->
                                <div class="col form-group ">
                                    <label>Last name</label>
                                    <input type="text" name="last_name" class="form-control" placeholder=""
                                        required="true">
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group was-validated" id="userParent">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control " placeholder="" required="true"
                                    onfocusout="userValidator(this)">
                            </div> <!-- form-group end.// -->
                            <div class="form-group was-validated">
                                <label>Email address</label>
                                <input type="email" name="email" class="form-control" placeholder="" required="true">
                                <small class="form-text text-muted">We'll never share your email with anyone
                                    else.</small>
                            </div> <!-- form-group end.// -->
                            <div class="form-row was-validated">
                                <div class="form-group col-md-6">
                                    <label>City</label>
                                    <input type="text" name="city" class="form-control" required="true">
                                </div> <!-- form-group end.// -->
                                <div class="form-group col-md-6">
                                    <label>Country</label>
                                    <select id="inputState" name="country" class="form-control" required="true">
                                        <option></option>
                                        <option>Romania</option>
                                        <option>United States</option>
                                        <option>Russia</option>
                                        <option>India</option>
                                        <option>France</option>
                                    </select>
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row.// -->
                            <div class="form-group was-validated">
                                <label>Sex</label>
                                <select id="inputSex" name="sex" class="form-control" required="true">
                                    <option></option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div> <!-- form-group end.// -->
                            <div class="form-group was-validated">

                                <label>Create password</label>
                                <input type="password" class="input-lg form-control" name="password" id="password1"
                                    placeholder="New Password" autocomplete="off" required></br>
                                <input type="password" class="input-lg form-control" id="password2"
                                    placeholder="Repeat Password" autocomplete="off" required></br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span id="num" class="fas fa-times" style="color:#FF0004;"></span> One Number
                                    </div>
                                    <div class="col-sm-12">
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="pwmatch" class="fas fa-times" style="color:#FF0004;"></span> Passwords
                                        Match <br>
                                        <span id="8char" class="fas fa-times" style="color:#FF0004;"></span> 8
                                        Characters Long
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="lcase" class="fas fa-times" style="color:#FF0004;"></span> One
                                        Lowercase Letter<br>
                                        <span id="ucase" class="fas fa-times" style="color:#FF0004;"></span> One
                                        Uppercase Letter
                                    </div>
                                </div><br>
                            </div> <!-- form-group end.// -->
                            <div class="form-group">
                                <button type="submit" id="changePasswordBtn" class=" btn btn-primary btn-lg btn-block"
                                    value="Register" disabled> Register
                            </div> <!-- form-group// -->
                        </form>
                    </article> <!-- card-body end .// -->
                    <div class="border-top card-body text-center">Have an account? <a href="/auth">Log In</a></div>
                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//-->


    </div>
    <!--container end.//-->
    </div>
    <script>
        $("input[type=password]").keyup(function () {
            var ucase = new RegExp("[A-Z]+");
            var lcase = new RegExp("[a-z]+");
            var num = new RegExp("[0-9]+");
            var validator = 0;

            if ($("#password1").val().length >= 8) {
                $("#8char").removeClass("fas fa-times");
                $("#8char").addClass("fas fa-check");
                $("#8char").css("color", "#00A41E");
                validator++;
            } else {
                $("#8char").removeClass("fas fa-check");
                $("#8char").addClass("fas fa-times");
                $("#8char").css("color", "#FF0004");
            }

            if (ucase.test($("#password1").val())) {
                $("#ucase").removeClass("fas fa-times");
                $("#ucase").addClass("fas fa-check");
                $("#ucase").css("color", "#00A41E");
                validator++;
            } else {
                $("#ucase").removeClass("fas fa-check");
                $("#ucase").addClass("fas fa-times");
                $("#ucase").css("color", "#FF0004");
            }

            if (lcase.test($("#password1").val())) {
                $("#lcase").removeClass("fas fa-times");
                $("#lcase").addClass("fas fa-check");
                $("#lcase").css("color", "#00A41E");
                validator++;
            } else {
                $("#lcase").removeClass("fas fa-check");
                $("#lcase").addClass("fas fa-times");
                $("#lcase").css("color", "#FF0004");
            }

            if (num.test($("#password1").val())) {
                $("#num").removeClass("fas fa-times");
                $("#num").addClass("fas fa-check");
                $("#num").css("color", "#00A41E");
                validator++;
            } else {
                $("#num").removeClass("fas fa-check");
                $("#num").addClass("fas fa-times");
                $("#num").css("color", "#FF0004");

            }

            if ($("#password1").val() == $("#password2").val() && $("#password2").val() != '') {
                validator++;
                $("#pwmatch").removeClass("fas fa-times");
                $("#pwmatch").addClass("fas fa-check");
                $("#pwmatch").css("color", "#00A41E");
                if (validator === 5) {
                    $("#changePasswordBtn").attr("disabled", false);
                } else {
                    $("#changePasswordBtn").attr("disabled", true);
                }

            } else {
                $("#pwmatch").removeClass("fas fa-check");
                $("#pwmatch").addClass("fas fa-times");
                $("#pwmatch").css("color", "#FF0004");
                $("#changePasswordBtn").attr("disabled", true);
            }
        });
    </script>
    <script>

        function userValidator(input) {
            let userParent = input.parentElement.id
            let user = input.value
            $('#'+userParent).find('small').remove();
            $('#'+userParent).removeClass("was-validated");

            $.ajax({
                method: "POST",
                url: "/register/checkuser",
                data: { "username": user }
            }).done(function (data) {
                if (data){
                    $('#'+userParent).append('<small class="text-danger text-center">Username already exists!</small>')
                }else{
                    $('#'+userParent).addClass("was-validated");
                }
            })
        }
    </script>

</body>

</html>was-validated