<div class="container">
    <header class="masthead bg-white text-white text-center" style="padding-top: 7em;padding-bottom: 2em;">
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Apps</h2>

                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items -->
                <div class="row">
                    <!-- Portfolio Item 1 -->

                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            <a href="/wallet">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                </div>
                            </a>
                            <img class="img-fluid" src="/img/wallet.png" alt="">
                        </div>
                    </div>

                    <!-- Portfolio Item 2 -->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            <a href="/control">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                </div>
                            </a>
                            <img class="img-fluid" src="/img/home_control.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </section>
    </header>
</div>


