
<header class="masthead bg-white text-white text-center container" style="padding-top: 7em;padding-bottom: 2em;">
    <div class="card text-center d-flex align-items-center flex-column bg-primary">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="{{session.avatar}}" alt="">

        <!-- Masthead Heading -->
        <h6 class="masthead-heading text-uppercase mb-0">{{session.username}}</h6>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->

        <nav>
            <div class="nav nav-tabs nav-" id="nav-tab" role="tablist">
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Avatar</a>
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Password</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active align-content-start" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <p class="mt-2">Email: {{account.email}}</p>
            </div>
                <div class="tab-pane fade tab-content " id="nav-profile" role="tabpanel" >2</div>
                <div class="tab-pane fade container p-3" id="nav-contact" role="tabpanel" >
                                <form method="post" id="passwordForm">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span id="num" class="fas fa-times" style="color:#FF0004;"></span> One Number
                                        </div>
                                        <div class="col-sm-12">
                                        </div>
                                        <div class="col-sm-6">
                                            <span id="pwmatch" class="fas fa-times" style="color:#FF0004;"></span> Passwords Match <br>
                                            <span id="8char" class="fas fa-times" style="color:#FF0004;"></span> 8 Characters Long
                                        </div>
                                        <div class="col-sm-6">
                                            <span id="lcase" class="fas fa-times" style="color:#FF0004;"></span> One Lowercase Letter<br>
                                            <span id="ucase" class="fas fa-times" style="color:#FF0004;"></span> One Uppercase Letter
                                        </div>
                                    </div><br>
                                    <input type="hidden" class="form-control" name="username" value="{{session.username}}">
                                    <input type="password" class="input-lg form-control" name="password" id="password1" placeholder="New Password" autocomplete="off" required></br>
                                    <input type="password" class="input-lg form-control" name="paswordValidator" id="password2" placeholder="Repeat Password" autocomplete="off" required></br>
                                    <button type="submit" id="changePasswordBtn" class=" btn btn-secondary btn-lg btn-block"  value="Change Password" disabled> Change Password
                                </form>
                        </div>
        </div>
    </div>
</header>

<script>
    $("input[type=password]").keyup(function(){
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");
        var validator = 0;

        if($("#password1").val().length >= 8){
            $("#8char").removeClass("fas fa-times");
            $("#8char").addClass("fas fa-check");
            $("#8char").css("color","#00A41E");
            validator++ ;
        }else{
            $("#8char").removeClass("fas fa-check");
            $("#8char").addClass("fas fa-times");
            $("#8char").css("color","#FF0004");
        }

        if(ucase.test($("#password1").val())){
            $("#ucase").removeClass("fas fa-times");
            $("#ucase").addClass("fas fa-check");
            $("#ucase").css("color","#00A41E");
            validator++ ;
        }else{
            $("#ucase").removeClass("fas fa-check");
            $("#ucase").addClass("fas fa-times");
            $("#ucase").css("color","#FF0004");
        }

        if(lcase.test($("#password1").val())){
            $("#lcase").removeClass("fas fa-times");
            $("#lcase").addClass("fas fa-check");
            $("#lcase").css("color","#00A41E");
            validator++;
        }else{
            $("#lcase").removeClass("fas fa-check");
            $("#lcase").addClass("fas fa-times");
            $("#lcase").css("color","#FF0004");
        }

        if(num.test($("#password1").val())){
            $("#num").removeClass("fas fa-times");
            $("#num").addClass("fas fa-check");
            $("#num").css("color","#00A41E");
            validator++ ;
        }else{
            $("#num").removeClass("fas fa-check");
            $("#num").addClass("fas fa-times");
            $("#num").css("color","#FF0004");

        }

        if($("#password1").val() == $("#password2").val() && $("#password2").val() != ''){
            validator++ ;
            $("#pwmatch").removeClass("fas fa-times");
            $("#pwmatch").addClass("fas fa-check");
            $("#pwmatch").css("color","#00A41E");
            if (validator === 5) {
                $("#changePasswordBtn").attr("disabled", false);
            } else {
                $("#changePasswordBtn").attr("disabled", true);
            }

        }else{
            $("#pwmatch").removeClass("fas fa-check");
            $("#pwmatch").addClass("fas fa-times");
            $("#pwmatch").css("color","#FF0004");
            $("#changePasswordBtn").attr("disabled", true);
        }
    });
</script>



<!--<div class="card text-center">-->
<!--    <div class="card-header">-->

<!--    </div>-->
<!--    <div class="card-body">-->

<!--    </div>-->
<!--    <div class="card-footer">-->

<!--    </div>-->
<!--</div>-->
