
<header class="masthead bg-white text-white text-center container" style="padding-top: 7em;padding-bottom: 2em;">
    <div class="card text-center d-flex align-items-center flex-column bg-primary">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="{{session.avatar}}" alt="">

        <!-- Masthead Heading -->
        <h6 class="masthead-heading text-uppercase mb-0">{{session.username}}</h6>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->

        <nav>
            <div class="nav nav-tabs nav-" id="nav-tab" role="tablist">
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Avatar</a>
                <a class="nav-item nav-link border-white text-white text-uppercase bg-primary" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Password</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <p>Email</p>
                <p>2</p>
                <p>1</p>
            </div>
            <div class="tab-pane fade tab-content" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div>
        </div>
    </div>
</header>



<!--<div class="card text-center">-->
<!--    <div class="card-header">-->

<!--    </div>-->
<!--    <div class="card-body">-->

<!--    </div>-->
<!--    <div class="card-footer">-->

<!--    </div>-->
<!--</div>-->
